{% extends "layout.html" %}

{%block nav %}
    <li class="select"><a href="http://xiaomen.co">首页</a></li>
    <li><a href="http://library.xiaomen.co">图书馆</a></li>
    <li><a href="http://selfstudy.xiaomen.co/hnu">自习室</a></li>
{% endblock %}

{%block content %}
    {% if not login %}
    <div>
        <form action="{{ login_url }}" method="post">
            <ul>
                <li>
                    <label for="email">邮箱:</label>
                    <input type="text" size="20" tabindex='1' value="" id="email" name="email">
                </li>
                <li>
                    <label for="password">密码:</label>
                    <input type="password" size="20" tabindex='2' value="" id="password" name="password">
                </li>
                <li>
                    <button type="submit" tabindex='3'>登录</button>
                    <a href="/weibo/login"><i class="icon weibo"></i></a>
                    <a href="/douban/login"><i class="icon douban"></i></a>
                    <a href="/renren/login"><i class="icon renren"></i></a>
                    <a href="/qq/login"><i class="icon qq"></i></a>
                </li>
            </ul>
        </form>
        <p><a href='/account/forget'>Forget?</a></p>
    </div>
    {% if login_info %}
    <span>{{ login_info }}</span>
    {% endif %}
    {% else %}
    <div>
        <p><span>Welcome {{ user.name }}</span></p>
        <p><a href="{{ my_url }}">我的校门口</a></p>
        <p><a href="/mail/">邮件</a>{% if unread_mail_count > 0 %}[{{unread_mail_count}}]{% endif %}</p>
        <p><a href="/account/logout">登出</a></p>
    </div>
    {% endif %}
{% endblock %}

{% macro render_pagination_nav(p, iter_pages, url) %}
{% for page in iter_pages %}
    {% if page != p %}
    <a href="{{ url }}?p={{ page }}">{{ page }}</a>
    {% else %}
    <strong>{{ page }}</strong>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro render_pagination(list_page, url) %}
{% set list_length = list_page.iter_pages|length %}
<div class=pagination>
{% if list_page.has_prev %}
    <a href="{{ url }}?p={{ list_page.page - 1 }}">&laquo; Prev</a>
{% endif %}
{% if list_length < 10 %}
    {{ render_pagination_nav(list_page.page, list_page.iter_pages, url) }}
{% elif list_page.page < 6 %}
    {{ render_pagination_nav(list_page.page, range(1, 10), url) }}
    <strong>...</strong>
{% elif list_page.page + 4 >= list_length and list_length < 15 %}
    {{ render_pagination_nav(list_page.page, list_page.iter_pages, url) }}
{% elif list_page.page + 4 >= list_length and list_length >= 15 %}
    <a href="{{ url }}?p=1">1</a>
    <a href="{{ url }}?p=2">2</a>
    <strong>...</strong>
    {{ render_pagination_nav(list_page.page, range(list_length - 8, list_length + 1), url) }}
{% elif list_page.page + 4 < 15 %}
    {{ render_pagination_nav(list_page.page, range(1, list_page.page + 5), url) }}
    <strong>...</strong>
{% else %}
    <a href="{{ url }}?p=1">1</a>
    <a href="{{ url }}?p=2">2</a>
    <strong>...</strong>
    {{ render_pagination_nav(list_page.page, range(list_page.page - 4, list_page.page + 5), url) }}
    <strong>...</strong>
{% endif %}
{% if list_page.has_next %}
    <a href="{{ url }}?p={{ list_page.page + 1 }}">Next &raquo;</a>
{% endif %}
</div>
{% endmacro %}
