{% extends "layout.html" %}

{% block user_menu %}
{% if not user %}
    {% set user = get_current_user() %}
{% endif %}
{% if user %}
    {% set unread_mail_count = get_unread_mail_count(user.id) %}
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i>{{ user.name }}{% if unread_mail_count > 0 %}&nbsp;<span class="badge">{{unread_mail_count}}</span>{% endif %}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% if not user.domain %}
            <li><a href="/people/{{ user.id }}">我的豆娘</a></li>
        {% else %}
            <li><a href="/people/{{ user.domain}}">我的豆娘</a></li>
        {% endif %}
        <li><a href="/event/mine">我的活动</a></li>
        <li><a href="/account/setting/">设置</a></li>
        <li><a href="/mail/">邮件{% if unread_mail_count > 0 %}&nbsp;<span class="badge">{{unread_mail_count}}</span>{% endif %}</a></li>
        <li><a href="/account/logout/">注销</a></li>
    </ul>
{% else %}
   {{ super() }}
{% endif %}
{% endblock %}

{% block content %}
<div class="hero-unit">
  <h1>找豆娘</h1>
  <p></p>
  <p>约炮？二手？外拍？找豆娘</p>
  <p><a class="btn btn-primary btn-large" href="/douban/login">用豆瓣账号登陆 &raquo;</a></p>
</div>
{% endblock %}

