{% extends "index.html" %}

{%block content %}
<table>
    <tr>
        <td>发起人:</td>
        <td><a href="/people/{{ event.from_uid_url }}">{{ event.from_uid }}</a></td>
    </tr>
    <tr>
        <td>标题：</td>
        <td>{{ event.title }}</td>
    </tr>
    <tr>
        <td>内容：</td>
        <td>{{ event.content }}</td>
    </tr>
    <tr>
        <td>时间：</td>
        <td>{{ event.start_date }}</td>
    </tr>
<table>
{% if reply %}
<table>
{% for r in reply %}
    <tr>
        <td>时间: {{ r.create_time }}</td>
        <td>内容: {{ r.content }}</td>
        <td>作者: <a href="/people/{{ r.from_uid_url }}">{{ r.from_uid }}</a></td>
    </tr>
{% endfor %}
</table>
{{ render_pagination(list_page, '/event/view/%d/' % event.id) }}
{% else %}
<p>No comments</p>
{% endif %}
{%if not diable_reply %}
<form method="post" action="/event/reply/{{ event.id }}">
  <ul>
    <li>
        <label for="content">内容</label>
        <textarea name="content" rows="5" cols="10">{{ content }}</textarea>
    </li>
    <li>
        <button type="submit">提交</button>
    </li>
  </ul>
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
  <input type="hidden" name="_visit_user" value="{{ visit_user_id }}">
</form>
{% if error %}
<span>{{ error }}</span>
{% endif %}
{% endif %}
{% endblock %}
